<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <% if (usuarioLogueado) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>
    <main>
        <section class="center main-content">
        <h1 >Login</h1>
        <form class="form" action="/login" method="post">
            <label for="email" > Email: </label> <input id = "email" type="email" name="email" value="" required placeholder="Ingrese su email">
            <label for="clave" > Clave: </label> <input id = "clave" type = "password" name = "clave" value= "" required placeholder="Clave"> 
            <button class="button" type="submit"> Enviar </button>
        </form>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>