<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <h1>ingrese sus datos para ingresar </h1>
        <form action="/users/miPerfil/id/1" method="get">
            <input type="text" value="" name="email" placeholder=" ingrese su email">
            <input type="password" name="contraseña" value="" placeholder="ingrese su contrañsea">
            <button type="submit"></button>
        </form>
        <p>Crear el formulario para ingresar al sitio.</p>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>