<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <h1 >Login</h1>
        <br>
        <form class="form" action="/users/miPerfil/id/1" method="get">
            <label for="email" > Email: </label> <input id = "email" type="email" name="email" value="" required placeholder="Ingrese su email">
            <br>
            <label for="clave" > Clave: </label> <input id = "clave" type = "password" name = "clave" value= "" required placeholder="Clave"> 
            <br>
            <button class="button" type="submit"> Enviar </button>
        </form>
        <br>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>