<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <h2 class="logo"><a class="colorHeader" href="/inicio">Winter Libros</a></h2>
        </div>
        <div class="navbar-center"> <!--VER EL FORMULARIO DE INCIO-->
            <form action="/busqueda" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" class="search-input" placeholder="Buscar...">
            </form>
        </div>
        <!--Cuando aun no se loguea ?-->
        <div class="navbar-right">
            <ul class="menu">
                <li><a class="colorHeader" href="/inicio"><i class="fa-solid fa-house"></i></a></li>
                <li><a class ="colorHeader" href="/registracion">Registro</a></li>
                <li><a class= "colorHeader" href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
</header>