<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <h2 class="logo"><a class="colorHeader" href="/">GRAMCREADOR</a></h2>
        </div>
        <div class="navbar-center"> <!--VER EL FORMULARIO DE RESULTADO BUSQUEDA-->
            <form action="/busqueda" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" name ="searchUsuario" value ="" class="search-input" placeholder="Buscar...">
            </form>
        </div>
        <div class="navbar-right">
            <ul class="menu">        
                <li><a class="colorHeader" href="/"><i class="fa-solid fa-house"></i></a></li>
                <li><a class="colorHeader" href="/posts/add"><i class="fa-regular fa-square-plus"></i></a></li>
                <!--mostrar datos del usuario logueado-->
                <li><a class="colorHeader" href="/users/miPerfil/id/1"><i class="fa-regular fa-user"></i></a></li>
                <li><a class="colorHeader" href="/login"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
            </ul>
        </div>
    </nav>
</header>