<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <h2 class="logo"><a class="colorHeader" href="/">GRAMCREADOR</a></h2>
        </div>

        <div class="navbar-center"> 
            <!--esta bien la ruta o es /movies/busqueda como en la demo-->
            <form action="/busqueda" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <!--ver resultadoBuscada-->
                <input type="search" name ="searchUsuario" value ="" class="search-input" placeholder="Buscar...">
            </form>
        </div>

        <div class="navbar-right">
            <ul class="menu">
                <li><a class ="colorHeader" href="/registracion">Registro</a></li>
                <li><a class= "colorHeader" href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
</header>